<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Public/css/layout.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("head", required: false)
</head>
<body>
    <section class="clearfix header bg-primary border border-light">
        <div class="container-fluid text-white text-center fs-1 p-3">FPT Product</div>
    </section>
    <section class="clearfix maincontainer">
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light border border-dark">
                    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                        <a href="@Url.Action("Index", "Product")" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none border border-light w-100">
                            <span class="fs-5 d-none d-sm-inline">Sản Phẩm</span>
                        </a>
                        <a href="@Url.Action("Create", "Product")" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none border border-light w-100">
                            <span class="fs-5 d-none d-sm-inline">Thêm sản phẩm</span>
                        </a>
                        <a href="@Url.Action("IndexAccessories", "Product")" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none border border-light w-100">
                            <span class="fs-5 d-none d-sm-inline">Accessories</span>
                        </a>
                        <a href="@Url.Action("IndexDesktop", "Product")" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none border border-light w-100">
                            <span class="fs-5 d-none d-sm-inline">Desktop</span>
                        </a>
                        <a href="@Url.Action("IndexIpIphone", "Product")" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none border border-light w-100">
                            <span class="fs-5 d-none d-sm-inline">IP Iphone</span>
                        </a>
                        <a href="@Url.Action("IndexLaptop", "Product")" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none border border-light w-100">
                            <span class="fs-5 d-none d-sm-inline">Laptop</span>
                        </a>
                        <a href="@Url.Action("IndexMonitor", "Product")" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none border border-light w-100">
                            <span class="fs-5 d-none d-sm-inline">Monitor</span>
                        </a>
                        <a href="@Url.Action("IndexServer", "Product")" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none border border-light w-100">
                            <span class="fs-5 d-none d-sm-inline">Server</span>
                        </a>
                        <hr>
                    </div>
                </div>
                <div class="col py-3">
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>
    <section class="clearfix footer bg-black">
        <div class="container-fluid text-white text-center py-3"></div>
    </section>
    @RenderSection("footer", required: false)
</body>
</html>
