@model IEnumerable<StoreProduct.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}


<div class="row">
    @foreach (var item in Model)
    {

        <div class="box col-6 p-2">
            <div class="bg-light border border border-1 rounded py-3 px-5">
                <div class="d-flex justify-content-between ">
                    <h5 class="">@Html.DisplayFor(modelItem => item.name)</h5>
                    <p class="bg-primary number-stock text-center text-bg-light border rounded h-auto text-white">Instock: @Html.DisplayFor(modelItem => item.NumberInstock)</p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="">@Html.DisplayFor(modelItem => item.Description)</p>
                    <div>
                        <button class="btn btn-secondary text-decoration-none text-light">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</button>
                        <button class="btn btn-secondary text-decoration-none text-light">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</button>
                        <button class="btn btn-secondary text-decoration-none text-light">@Html.ActionLink("Details", "Details", new { id = item.Id })</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
